body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
#page-heading{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 30px;
}
#map-placeholder{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
#map{
    position: relative;
}
.container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.478);
}
#petrol-list{
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 250px;
    overflow: auto;
}
.station-logo{
    width: 50px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#submission-button{
    position: flex;
    justify-content: center;
}

hr.solid {
    border-top: 1px solid #cacaca;
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.wait_desc{
margin-bottom: 10px;
padding: 0px;
font-size: 13px;

}

#label_fuel {
    font-weight: bold;
    display: block;
}

#back_button{
    background-color: grey;
    border: grey;
}
.listing{
    position: relative;
    border: black solid 1px;
}
.additional-listing-info {
    width: 100%;
    padding-left: 10px;
    position: absolute;
    margin-top: 5px;
    top: 100%;
    left: 0;
    background-color: #d9d9d9;
    opacity: 0; 
    transition: opacity 0.3s;
    z-index: 999;
    pointer-events: none; /* Add this line */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.listing:hover .additional-listing-info {
    opacity: 1;
}
.inner_class{
    font-size: 11px;
}
#fuel_information{
    display: flex;
}
.inner-column{
    flex: 1; 
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
.inner-p{
    margin-bottom: 5px;
}