h1 {
    text-align: center;
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: grey;
    padding: 0;
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center; /* Align items vertically in the navbar */
    z-index: 1000;
}
.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgb(83, 83, 83);
}
.navbar img {
    height: 100%;
    margin-right: 20px; 
}