<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>

    </style>
    {% block head %}{% endblock %}
</head>
<body style="margin-top: 150px;">
    <!-- Buttons for larger screens -->
    <nav class="navbar">
        <img src="{{url_for('static', filename='images/Untitled.jpg')}}" alt="Logo"> <!-- Add an image tag inside the navbar -->
        <ul class = buttons>
            <li><a href="{{url_for('home_func')}}">Home</a></li>
            <li><a href="{{url_for('leaderboard_func')}}">Leaderboard</a></li>
            <li><a href="{{url_for('profile_func')}}">Your Profile</a></li>
            <li><a href="{{url_for('login_func')}}">Login</a></li>
        </ul>
        <div class="dropdown" id="dropdown">
            <button id = "button_dropdown" onclick="toggleDropdown()">Menu</button>
            <div class="dropdown-content" id="dropdownContent">
                <a href="{{url_for('home_func')}}">Home</a>
                <a href="{{url_for('leaderboard_func')}}">Leaderboard</a>
                <a href="{{url_for('profile_func')}}">Your Profile</a>
                <a href="{{url_for('login_func')}}">Login</a>
            </div>
        </div>
    </nav>


    {% block body %}
    <!-- Navigation Links -->
    {% endblock %}
    <script src="{{url_for('static', filename='toggle_dropdown.js')}}"></script>
</body>
</html>



