{% extends 'base.html' %}

{% block head %}

<title>Leaderboard</title>
<link rel="stylesheet" href="{{url_for('static', filename='leaderboard.css')}}">

{% endblock %}

{% block body %}
<div class="wrapper">
    <h1 style="text-align: center; margin-bottom: 20px;">Leaderboard</h1>
    <div class="lboard_section">
        <div class="lboard_tabs">
            <div class="tabs">
                <ul>
                    <li><a href="{{ url_for('leaderboard', order='rank') }}">Rank</a></li>
                    <li class="active"><a href="{{ url_for('leaderboard', order='user') }}">User</a></li>
                </ul>
            </div>
        </div>

        <div class="lboard_wrap">
            <div class="lboard_item today" style="display: none;">
            </div>
            <div class="lboard_item month" style="display: block;">
            </div>
        </div>
    </div>
</div>    
{% endblock %}





