{% extends 'base.html' %}

{% block head %}
<title>Cheap Petrol Prices</title>
<link rel="stylesheet" href="{{url_for('static', filename='mapdisplay.css')}}">
{% endblock %}

{% block body %}
<section id="page-heading">
    <p>Cheapest Petrol Prices</p>
</section>
<section>
    <div id="map">
        <img id="map-placeholder" class="col-md-12" src="{{url_for('static', filename='images/Screenshot from 2024-04-10 17-29-31.png')}}">
        <div id="petrol-list" class="container">
            <h3>LISTINGS</h3>
            <input type="text" id="map_options_submission">
            
            <!-- Dropdown box for filtering results -->
            <select id="filter-options">
                <option value="station_name">Station Name</option>
                <option value="address">Address</option>
                <option value="postcode">Postcode</option>
                <option value="nearby">Nearby</option>
            </select>
            
            <div class="listing_box">
                
            </div>
            <div id="submission-button">   
                <label style="font-size: 13px;">
                    Found a station?
                </label>
                <a href="{{url_for('submission_func')}}">
                    <button>Add Here</button>
                </a>
            </div>
        </div>
    </div>
</section>

<div id="test"></div>

<script src="{{url_for('static', filename='map-display.js')}}"></script>

{% endblock %}
