{% extends 'base.html' %}

{% block head %}
<title>User Info Page</title>
<link rel="stylesheet" href="{{url_for('static', filename='userProfile.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-xl-6">
            <div id="mainContent" class="rounded h-100 p-4">
                <h1>User Profile</h1>
                <img id="userProfilePic" src="{{url_for('static', filename='images/profilePicture.PNG')}}"
                    alt="User profile picture." class="profile-image">

                <div id="profile">
                    <!-- users are able to modify these info -->
                    <p>Name: <span id="Name">user name</span></p>
                    <p>Email: <span id="Email">email address</span></p>
                    <p>Phone: <span id="Phone">phone number</span></p>
                    <p>DOB: <span id="DOB">date of birth</span></p>
                    <p>Bio: <span id="Bio">user biography...</span></p>
                    <button id="update" type="button" class="btn btn-danger">Edit Profile</button>
                </div>

                <div id="editProfile" style="display: none;">
                    <label for="newName">Name:</label>
                    <input type="text" id="newName" class="form-control"><br>
                    <label for="newEmail">Email:</label>
                    <input type="email" id="newEmail" class="form-control"><br>
                    <label for="newPhone">Phone:</label>
                    <input type="tel" id="newPhone" class="form-control"><br>
                    <label for="newDOB">DOB:</label>
                    <input type="date" id="newDOB" class="form-control"><br>

                    <div class="form-floating">
                        <label for="newBio">Bio:</label>
                        <textarea id="newBio" class="form-control"></textarea><br>
                    </div>
                    <button id="save" class="btn btn-danger">Save Changes</button>
                </div>

                <div id="systInfo">
                    <!-- info that should be updated by system -->
                    <p>Number of Posts: <span id="NumPosts">total number of posts: xx</span></p>
                    <p>Recent posts: <span id="RecentPosts">~10 most recent posts or modification</span></p>
                    <p>Favorites: <span id="Favs">favorite stations?</span></p>
                </div>

                <!-- Display user's information -->
                <h1>Welcome, {{ user.username }}!</h1>
                <p>Email: {{ user.email }}</p>
                <!-- Add other user information fields as needed -->
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='userProfile.js')}}"></script>
{% endblock %}
